@page "/polls/error404"
<PageTitle>Page Not Found - PollsAppBlazor</PageTitle>

<h2>Poll not found</h2>
<p>
	Sorry, but the requested poll was not found. It might be deleted or it had never existed, who knows?
</p>
<p>
	<MudLink Href="/polls">Find REAL Polls.</MudLink>
</p>
