@page "/support"

<h3>Support</h3>

<MudText>
    For support, please contact us at 
    <MudLink Href="mailto:roman.dykyi.8210@gmail.com">roman.dykyi.8210@gmail.com</MudLink>.
</MudText>

@code {

}
