<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Polls App Blazor</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<MudNavMenu>
		<MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
			Home
		</MudNavLink>
		<MudNavGroup Title="Polls" Icon="@Icons.Material.Filled.ListAlt">
			<MudNavLink Href="/polls" Icon="@Icons.Material.Filled.Whatshot" Match="NavLinkMatch.All">
				Latest
			</MudNavLink>
			<MudNavLink Href="/polls/create" Icon="@Icons.Material.Filled.AddCircle" Match="NavLinkMatch.All">
				Create new
			</MudNavLink>
		</MudNavGroup>
	</MudNavMenu>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
